<div class="row">
  <%= render partial: '/layouts/sidebar', locals: {  } %>
  <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 col-xl-10">
    <div id="services-index-container" class="dashboard-container">
      <% if current_user.present? && current_user.any_admin? %>
        <h3>Services / Edit</h3>
        <%= render partial: "/service_areas/form", locals: { service_area: @service_area } %>
      <% end %>
    </div>
  </div>
</div>
