<div class="row">
  <%= render partial: '/layouts/sidebar', locals: {  } %>
  <div class="col-9">
    <div id="services-index-container" class="dashboard-container">
      <% if current_user.present? && current_user.any_admin? %>
        <%= link_to "New Service", new_service_area_path, class: "btn content-button dashboard-button dashboard-button-right" %>
        <h3>Services</h3>
        <%= smart_listing_render(:service_areas) %>
      <% end %>
    </div>
  </div>
</div>
