#home-page-copy-container {
  margin-top: 30px;
  border: 1px solid gray;
  margin-bottom: 60px;
}

#homeVideo {
  margin: 0;
  padding: 0;
  width: 100%;
}

#jumbotron {
  border-radius: none !important;
  max-height: 82vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  .video-container {
    margin: 10px;
    overflow: hidden;
    padding: 0;
  }
}
