.bio-card {
  border: none;
  color: black;
}

.bio-heading {
  border: none;
  background-color: white;
}

.small-screen-thumbnail {
  display: none;
}

#team-bio-container {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px silver;
  margin-bottom: 60px;
}

.team-image-container {
  display: block;
  text-align: center;
  h5 {
    background-color: #dcdac4;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 16px;
  }
}


@media (max-width: 767px) {
  .small-screen-thumbnail {
    display: block;
  }

  .team-image-container {
    display: none;
  }
}
