<div id="contact-form" style="margin: 0 auto;">
  <div class="form-container">
    <form action="/action_page.php">
      <div class="container">
        <div class="row">

          <div class="col-xs-12">
            <div class="form-group">
              <input type="text" name="name" placeholder="Full Name" value="" class="form-control">
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <input type="text" name="email" placeholder="Email" value="" class="form-control">
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <input type="text" name="phone" placeholder="Phone" value="" class="form-control">
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <input type="text" name="address" placeholder="Address" value="" class="form-control">
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <textarea name="comments" rows="3" cols="30" placeholder="How can we help?" class="form-control"></textarea>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <input type="submit" value="Submit" class="submit-button btn btn-default">
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
