<div id="home-page" class="wrapper">
  <div id="home-page-container" class="container-fluid">

    <div class="home-page-row row" style="margin-bottom: 20px;">

      <div class="col-sm-12 home-page-boxes" id="carousel-container">
        <div id="home" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "attorny_cares.jpg", class: "d-block w-100" %>
              <div class="carousel-caption d-md-block">
                <h5>Get an attorney who cares</h5>
                <p>You'll get an attorney who gives your</p>
                <p>case individual attention when you come</p>
                <p>to the Law Firm of James R. Lambert.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "domestic.jpg", class: "d-block w-100" %>
              <div class="carousel-caption d-md-block">
                <h5>You need caring representation</h5>
                <p>Your divorce is a difficult time,</p>
                <p>make sure you get an attorney</p>
                <p>who cares about your case.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "injured.jpg", class: "d-block w-100" %>
              <div class="carousel-caption d-md-block">
                <h5>Injured at work?</h5>
                <p>You need a lawyer on your side,</p>
                <p>to help you recover losses from</p>
                <p>medical bills and lost wages.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#home" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-md-6 home-page-boxes" style="margin: 0 auto; margin-top: 20px; max-width: 500px;">
        <div class="form-container">
          <form action="/action_page.php">
            <h5>Contact Us</h5>
            <div>
            <input type="text" name="name" placeholder="Full Name" value=""><br>
            <input type="text" name="email" placeholder="Email" value=""><br>
            <input type="text" name="phone" placeholder="Phone" value=""><br>
            <input type="text" name="address" placeholder="Address" value=""><br>
            <textarea name="comments" rows="3" cols="30" placeholder="How can we help?"></textarea>
            <input type="submit" value="Submit" class="submit-button">
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 home-page-boxes" style="margin: 0 auto; margin-top: 20px; max-width: 500px;">
        <div class="address-container">
          <h5>Visit Us</h5>
          <div class="contact-info info-address">
            <h6>Address</h6>
            <p>1491 Richmond Rd.</p>
            <p>Staten Island, NY, NY 10304</p>
          </div>
          <div class="contact-info info-email">
            <h6>Email</h6>
            <p>jlambertlaw@gmail.com</p>
          </div>
          <div class="contact-info info-phone">
            <h6>Phone</h6>
            <p>718-983-5050</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
