<div id="contact-form" class="fancy-font" style="margin: 0 auto;">
  <form action="https://formspree.io/kevin@storberg.net">
    <div class="container">

      <h2 style="color: white; text-align: center; width: 100%;">How can we help you?</h2>

      <div class="col-xs-12 form-group">
        <input type="text" name="name" placeholder="Full Name" value="" class="form-control" required>
      </div>

      <div class="col-xs-6 form-group">
        <input type="text" name="_replyto" placeholder="Email" value="" class="form-control" required>
      </div>

      <div class="col-xs-6 form-group">
        <input type="text" name="phone" placeholder="Phone" value="" class="form-control" required>
      </div>

      <!-- <div class="col-xs-6 form-group">
        <input type="text" name="address" placeholder="Address" value="" class="form-control">
      </div> -->

      <div class="col-xs-6 form-group">
        <textarea name="message" rows="3" cols="30" placeholder="We are here to help. . . " class="form-control"></textarea>
      </div>

      <div class="col-xs-6 form-group">
        <a href="tel:17189835050" class="btn btn-default close-modal modal-button">Call: 1.718.983.5050</a>
        <input class="btn btn-default modal-button pull-right submit-button" type="submit" value="Send">
      </div>

    </div>
  </form>
</div>
