<div id="jumbotron">
  <div class="video-container">
    <%= video_tag "nyc_train_compressed.mp4", autoplay: true, loop: true, muted: true, id: "homeVideo", class: "img-thumbnail", style: "opacity: 0.5;" %>
  </div>
</div>


<script>
  $(document).ready(function() {

    $.get("/contact", {
      remove_backdrop: true
    });

  });
</script>
