<%= video_tag "nyc_train_compressed.mp4", autoplay: true, loop: true, muted: true, id: "homeVideo", class: "img-thumbnail" %>

<% if @public_page.copy_0.present? %>
  <div id="home-page-copy-container" class="container">
    <div class="row">
      <div class="basic-font col side-padding">
        <%= @public_page.copy_0 %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {

    $.get("/contact", {
      remove_backdrop: true
    });

    $("#footer").css("position", "relative")

  });
</script>
