// =============================================================================
// Footer Styles ===============================================================
// =============================================================================
#footer-container {
  background: none !important;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  #footer-info-container {
    .footer {
      padding-top: 14px;
      text-align: center;
      .footer-item {
        display: inline-block;
        list-style: none;
        .footer-link {
          color: #707070;
          font-size: 14px;
          opacity: .8;
        }
        .footer-link:hover {
          color: #384853;
          opacity: 1;
        }
      }
      .footer-break {
        color: #384853;
        font-size: 16px;
        margin: -8px 5px 0px 5px;
      }
    }
  }
}

// =============================================================================
// Dashboard ===================================================================
// =============================================================================
.dashboard-container {
  width: 100%;
}

.btn-active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 5px 5px 5px 5px #c1c1c1;
     -moz-box-shadow: inset 5px 5px 5px 5px #c1c1c1;
          box-shadow: inset 5px 5px 5px 5px #c1c1c1;
   outline: none;
}

.dashboard-button {
  background-color: rgba(0, 23, 38, 0.75);
  color: white;
  font-size: 15px;
  margin-bottom: 0;
}

.dashboard-button-danger {
  background-color: darkred !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  color: white;
  font-size: 15px;
  margin-bottom: 0;
}

.dashboard-button-danger, .dashboard-button:hover {
  color: white !important;
  border: 2px solid gold !important;
  text-decoration: none !important;
}

.dashboard-button-right {
  position: absolute;
  right: 20px;
}

// =============================================================================
// Flash Messages ==============================================================
// =============================================================================
.alert-danger {
  border: 1px solid darkred;
}

.alert-success {
  background-color: rgba(0, 23, 38, 0.75);
  border: 1px solid darkblue;
  color: white;
}
