.navbar {
  background: none !important;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px silver;
  margin-bottom: 20px;
  z-index: 2000;

  #navbar-brand {
    line-height: 20px;
    text-align: center;
    a {
      color: black;
      text-decoration: none;
    }
  }

  #navbar-brand:hover {
    cursor: pointer;
  }

  .navbar-nav {
    margin-top: 10px;
    text-align: center;
    .nav-item {
      font-size: 20px;
      list-style: none;
      .nav-link {
        color: black !important;
        opacity: .8;
      }
      .nav-link:hover {
        border-bottom: 2px solid black;
        color: #384853;
        cursor: pointer;
        // text-decoration: underline;
      }
    }
    .nav-break {
      color: #384853;
      font-size: 23px;
      margin: 6px 10px 20px 10px;
    }
  }
}
@media (max-width: 990px) {
  .navbar {
    .navbar-nav {
      border-radius: 3px;
      padding: 10px;
    }
    .nav-break {
      display: none;
    }
  }
}

.navbar-collapse {
  position: absolute;
  right: 20px;

  @media (max-width: 990px) {
    position: static;
    right: 0;
  }
}

.active-nav-link {
  border-bottom: 2px solid black;
}
