<div class="row">
  <%= render partial: '/layouts/sidebar', locals: {  } %>
  <div class="col-9">
    <div id="users-show-container" class="dashboard-container">
      <% if current_user.present? && current_user.any_admin? %>
        <h3 style="display: inline-block;">New User</h3>
        <%= render partial: "/users/form", locals: { user: @user } %>
      <% end %>
    </div>
  </div>
</div>
