#home-page {
  height: 100%;
  margin: 20px 0 76px 0;
  padding: 0;
  #home-page-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    .home-page-row {
      margin: 0 auto;
      width: 100%;
      .home-page-boxes {
        margin: 0 auto;
        margin: 10px;
        .form-container {
          border: 1px solid #163e5b;
          margin: 14px;
          text-align: center;
          form {
            background: white;
            padding-top: 10px;
            h5 {
              color: #163e5b !important;
            }
            input, textarea {
              border: 1px solid #707070;
              border-radius: 3px;
              color: #163e5b !important;
              font-size: 14px;
              margin: 3px;
              padding-left: 5px;
              text-decoration: none;
              width: 75%;
            }
            .submit-button {
              margin-bottom: 14px;
              width: 25%;
            }
          }
        }
        .address-container {
          background: white;
          border: 1px solid #163e5b;
          height: 240px;
          margin: 14px;
          padding-top: 10px;
          text-align: center;
          h5 {
            color: #707070;
          }
          .contact-info {
            h6 {
              color: #707070;
              text-decoration: underline;
            }
            p {
              font-size: 14px;
              line-height: 11px;
            }
          }
          .info-address {
            text-align: center;
          }
          .info-email {
            float: left;
            margin: 20px 0 0 24px;
            text-align: left;
          }
          .info-phone {
            float: right;
            margin: 20px 24px 0 0;
            text-align: right;
          }
        }
      }
      #carousel-container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        .carousel {
          margin: 0 auto;
          padding-bottom: 14px;
          .carousel-inner {
            border: 1px solid #384853;
            margin-top: 16px;
            .carousel-item {
              .carousel-caption {
                margin-left: -60px;
                margin-top: -10px;
                text-align: left;
                h5 {
                  font-size: 20px;
                  margin-bottom: 10px;
                }
                p {
                  font-size: 18px;
                  line-height: 10px;
                }
              }
            }
          }
          .carousel-control-prev, .carousel-control-next {
            width: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #home-page {
    #home-page-container {
      .home-page-row {
        #carousel-container {
          .carousel {
            .carousel-inner {
              .carousel-item {
                .carousel-caption {
                  h5 {
                    font-size: 16px;
                  }
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .background-light-blue {
      margin-left: -90px;
      transform: rotate(16deg);
    }
    .background-dark-blue {
      margin-left: -162px;
      transform: rotate(120deg);
    }
    .address-container {
      .contact-info {
        p {
          font-size: 12px !important;
        }
      }
      .info-email {
        margin: 20px 0 0 10px !important;
      }
      .info-phone {
        margin: 20px 10px 0 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  #home-page {
    #home-page-container {
      .home-page-row {
        #carousel-container {
          .carousel {
            .carousel-inner {
              .carousel-item {
                .carousel-caption {
                  margin-left: -40px;
                  margin-top: 20px;
                  h5 {
                    font-size: 12px;
                  }
                  p {
                    font-size: 10px;
                    line-height: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 566px) {
  #home-page {
    .background-dark-blue {
      height: 500px;
    }
  }
}

@media (max-width: 363px) {
  #home-page {
    .background-lightest-blue {
      margin-left: -60px;
    }
    .address-container {
      height: 264px !important;
      .info-email {
        margin: 20px 0 0 10px !important;
      }
      .info-phone {
        margin: 20px 10px 0 0 !important;
      }
    }
  }
}
