@import 'bootstrap';
@import 'font-awesome';

@import 'shared/layouts';

@import 'public_pages/*';

html {
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  background-image: url("/assets/background.jpg");
  min-height: 100%;
  padding: 0;
  width: 100%;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.side-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}
