<footer id="footer" class="fancy-font">
  <div class="container-fluid">
    <div class="row">

      <div class="col-6">
        <ul class="footer-nav" style="text-align: left;">
          <li class="footer-item">
            <a class="footer-link" href="#">© 2019, James R Lambert</a>
          </li>

          <li class="footer-item footer-break">|</li>

          <li class="footer-item">
            <a class="footer-link" href="#">Privacy</a>
          </li>
        </ul>
      </div>

      <div class="col-6" style="text-align: right;">
        <ul class="footer-nav">
          <li class="footer-item">
            <a class="footer-link" href="https://www.google.com/maps/dir//james+lambert+staten+island/@40.6012347,-74.099868,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c24ebff95e9ac7:0x4d50a01d2f430cf3!2m2!1d-74.1008509!2d40.593262" target="_blank">1491 Richmond Rd, Staten Island, NY 10304</a>
          </li>

          <li class="footer-item footer-break">|</li>

          <li class="footer-item">
            <a class="footer-link" href="tel:17189835050">1.718.983.5050</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
