<footer id="footer-container" class="footer">
  <div id="footer-info-container">
    <ul class="footer">

      <li class="footer-item">
        <a class="footer-link" href="tel:17189835050">© 2019, James R Lambert, 1.718.983.5050</a>
      </li>

      <li class="footer-item footer-break">|</li>

      <li class="footer-item">
        <a class="footer-link" href="#">Privacy</a>
      </li>
    </ul>
  </div>
</footer>
